name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Azure via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AZURE_HOST }}
          username: ${{ secrets.AZURE_USERNAME }}
          password: ${{ secrets.AZURE_PASSWORD }}
          port: 22
          script: |
            # Proje klasörüne git (Repo adın neyse o klasöre girer)
            cd MLOps-Capstone-Project
            
            # GitHub'daki son değişiklikleri çek
            git pull
            
            # Konteynerleri arka planda (-d) yeniden inşa et ve başlat
            sudo docker compose up --build -d
